@page
@using AzureTablesDemoApplication.Models
@using AzureTablesDemoApplication.Utilities
@model FilterResultsModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Error Messages (if there is one) --> 
@if (TempData.ContainsKey("errors"))
{
    var errors = TempData.Get<IEnumerable<MessageModel>>("errors") as IEnumerable<MessageModel>;
    foreach (var error in errors)
    {
        <div class="alert @error.Level.ToCssClass() alert-dismissible fade show" role="alert">
            @error.Message
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">            
            </button>
        </div>        
    }
}

<form method="get">

    <div class="row g-3 mb-2 justify-content-center">
        <div class="col-md-3 fs-5 fw-bold border-bottom border-2">
            Column
        </div>
        <div class="col-md-6 fs-5 fw-bold border-bottom border-2">
            Criteria
        </div>
    </div>
    
    <div class="row g-3 mb-2 justify-content-center">
        <div class="col-md-3 fw-bold">
            Station Name (Partition Key)
        </div>
        <div class="col-md-4 offset-md-2 text-end">
            <input type="text" id="partitionKeyFilter" name="partitionKey" class="form-control" placeholder="Station name">
        </div>
    </div>
    
    <div class="row g-3 mb-2 justify-content-center">
        <div class="col-md-3 fw-bold">
            Date (Row Key)
        </div>
        <div class="col-md-2">
            Min date/time:
        </div>
        <div class="col-md-2 text-end">
            <input type="date" id="rowKeyDateStart" name="rowKeyDateStart" class="form-control">
        </div>
        <div class="col-md-2 text-end">
            <input type="time" id="rowKeyTimeStart" name="rowKeyTimeStart" class="form-control">                            
        </div>
    </div>
    
    <div class="row g-3 mb-2 justify-content-center">
        <div class="col-md-2 offset-md-3">
            Max date/time:
        </div>
        <div class="col-md-2 text-end">
            <input type="date" id="rowKeyDateEnd" name="rowKeyDateEnd" class="form-control">
        </div>
        <div class="col-md-2 text-end">
            <input type="time" id="rowKeyTimeEnd" name="rowKeyTimeEnd" class="form-control">
        </div>
    
    
    </div>
    
    <div class="row g-3 mb-2 justify-content-center">
        <div class="col-md-3 fw-bold">
            Temperature
        </div>
        <div class="col-md-2">
            Min temperature:
        </div>
        <div class="col-md-4 text-end">
            <input type="text" id="minTemperature" name="minTemperature" class="form-control" placeholder="Min temperature">
        </div>
    </div>
    
    <div class="row g-3 mb-2 justify-content-center">
        <div class="col-md-2 offset-md-3">
            Max temperature:
        </div>
        <div class="col-md-4 text-end">
            <input type="text" id="maxTemperature" name="maxTemperature" class="form-control" placeholder="Max temperature">
        </div>
    </div>
    
    <div class="row g-3 mb-2 justify-content-center">
        <div class="col-md-3 fw-bold">
            Precipitation
        </div>
        <div class="col-md-2">
            Min precipitation:
        </div>
        <div class="col-md-4 text-end">
            <input type="text" id="minPrecipitation" name="minPrecipitation" class="form-control" placeholder="Min precipitation">
        </div>
    </div>
    
    <div class="row g-3 mb-2 justify-content-center">
        <div class="col-md-2 offset-md-3">
            Max precipitation:
        </div>
        <div class="col-md-4 text-end">
            <input type="text" id="maxPrecipitation" name="maxPrecipitation" class="form-control" placeholder="Max precipitation">
        </div>
    </div>
    
    <div class="row g-3 mb-2 justify-content-center">
        <div class="col-md-4 offset-md-5 text-end">
            <button type="submit" class="btn btn-success">Filter data</button>
        </div>
    </div>
</form>

<hr />

<h3>Weather Data</h3> 
<table class="table table-sm mb-1">
    <thead>
        <tr>
            <th>Station Name</th>
            <th>Observation Date</th>
            @foreach (var fieldName in Model.FieldNames)
            {
                <th>@fieldName</th>
            }
        </tr>
    </thead>

@foreach( dynamic item in Model.WeatherObservations)
{

    <tr>
        <td>@item.StationName</td>
        <td>@item.ObservationDate</td>
        @foreach (var column in Model.FieldNames)
        {
            <td>@item[column]</td>
        }
    </tr>
}
</table>

